@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-theme: #ffffff;
  --dark-theme: #000000;
  --color-primary: #03296A;
  --color-primary-light: #03296a50;
  --color-primary-light-2: #eee;
  --deep-sky-blue: #00a0df;
  --color-blue: #023185;
  --color-white: #ffffff;
  --color-gold: #c3964e;
  --color-orange: #e25a28;
  --color-gray: gray;
  --gray: #B6B6B6;
  --gray-light: #B6B6B699;
  --color-slate: #495375;
  --color-link: #00adff;
}

.atributtes {
  justify-content: center;
  margin: 3rem 0rem;
}

.header {
  margin: 4.5rem 9rem;
}

.container-atributtes {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 12rem;
}

.container-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 1rem;
}

.container-pros {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.item-atributte {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.container-icon-atributte {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-atributte {
  height: 50px;
  width: 50px;
  color: var(--gray-light);
}

.atributtes .header .introduction {
  color: #bbc5c7;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

/*.atributtes .header .title {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}*/

.atributtes .header .paragraph {
  text-align: center;
  white-space: normal;
  padding-top: 1px;
  font-size: 18px;
  font-weight: 300;
  margin: 14px 0px 54px 0px;
}

.atributte-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.atributte-paragraph {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.atributte-pros-title {
  font-size: 1em;
  font-weight: 500;
  color: var(--color-link);
  margin: 8px 0 0.4em;
}

.atributte-pros-title-center {
  font-size: 1em;
  /*font-weight: 500;*/
  color: var(--color-link);
  text-align: center;
}

.atributte-pros-paragraph {
  font-size: 14px;
  font-weight: 100;
  color: gray;
}

.absolute.left-0.top-0.flex.h-10.w-10.items-center.justify-center.rounded-lg_ {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
}

dt.text-base.font-semibold.leading-7.text-gray-900_ {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  padding: 10px;
}

.text-white {
  --bs-text-opacity: 1;
  color: white;
  font-size: -webkit-xxx-large;
}

.atributtes .header .header-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
}

.atributtes .header .header-container .header-container-1 {
  width: 35%;
  padding-right: 1rem;
}

.atributtes .header .header-container .header-container-2 {
  width: 65%;
  padding-left: 1rem;
  border-left: 0.2px solid var(--gray-light);
}

.header-title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.header-paragraph {
  /*font-size: 14px;*/
  font-weight: 100;
  line-height: 1.5;
}

h1.title {
  font-family: Avenir Next LT W01 Demi, sans-serif;
  font-size: 34px;
  line-height: 1.22;
  text-align: center;
  color: var(--color-slate);
}

h1.header-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.215;
  color: var(--color-slate);
}

@media (max-width: 952px) {
  .container-atributtes {
    gap: 1em;
    margin: 1rem;
  }

  .atributtes {
    margin: 3rem 1rem;
  }

  .header {
    margin: 1rem 0rem;
  }

  .atributtes .header .header-container {
    display: flex;
    flex-direction: column;
  }

  .atributtes .header .header-container .header-container-1 {
    width: 100%;
    padding-right: 0rem;
  }

  .atributtes .header .header-container .header-container-2 {
    width: 100%;
    padding-left: 0rem;
    border-left: 0px solid var(--gray);
  }

  .container-pros {
    display: flex;
    flex-direction: column;
  }
}