@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-theme: #ffffff;
  --dark-theme: #000000;
  --color-primary: #03296A;
  --color-primary-light: #03296a50;
  --color-primary-light-2: #eee;
  --deep-sky-blue: #00a0df;
  --color-blue: #023185;
  --color-white: #ffffff;
  --color-gold: #c3964e;
  --color-orange: #e25a28;
  --color-gray: gray;
  --gray: #B6B6B6;
  --gray-light: #B6B6B699;
}

.calls {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.calls-statics {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 15px;
}

.forms {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  padding-left: 15px;
  border-left: 0.5px solid #b6b6b675;
}

.font-gray {
  font-size: 12px;
  color: var(--color-gray);
}

.input-email {
  padding: 6px;
  /*margin-right: 8px;*/
  border-radius: 4px;
  width: 100%;
  height: 38px;
  outline: none;
  border-width: 0.5px;
  font-size: 13px;
}

.form-flex-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row-column {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flex-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
}

.strong {
  font-weight: 700;
  text-align: center;
}

.strong-0 {
  font-weight: 700;
}
.small {
  font-size: 13px;
  color: var(--gray);
  font-weight: 300;
}
.error-form {
  font-size: 11px;
  color: var(--color-orange);
}



@media (max-width: 952px) {
  .form-flex-row {
    flex-direction: column;
    display: flex;
    /*align-items: flex-start;*/
    gap: 8px;
  }

  .row-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .class-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .calls {
    flex-direction: column;
  }

  .calls-statics {
    width: 100%;
    height: auto;
    padding-right: 0px;
  }

  .forms {
    width: 100%;
    padding-left: 0px;
    border-left: 0px;
  }

  .icon-forms {
    margin: 0 auto;
  }

  .strong-0 {
    text-align: center;
  }

  .strong {
    margin-top: 10px;
  }

}