@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-theme: #ffffff;
  --dark-theme: #000000;
  --color-primary: #03296A;
  --color-primary-light: #03296a50;
  --color-primary-light-2: #eee;
  --deep-sky-blue: #00a0df;
  --color-blue: #023185;
  --color-white: #ffffff;
  --color-gold: #c3964e;
  --color-orange: #e25a28;
  --color-gray: gray;
  --gray: #B6B6B6;
  --gray-light: #B6B6B699;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: "Oswald", sans-serif;*/
  font-family: 'Sharp Sans', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  /*background: var(--color-orange);*/
  font-family: 'Sharp Sans', sans-serif;
}

.nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all .5s;
}

.nav-small {
  background: var(--light-theme);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all .5s;
}

.enlace {
  padding: 5px 0px 5px 30px;
}

.logo {
  height: 100px;
  transition: all .5s;
  padding-top: 10px;
}

.logo-small {
  height: 70px;
  transition: all .5s;
  /*filter: brightness(0) invert(1);*/
}

.text-primary-blue {
  color: var(--color-primary);
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 59px;
  margin: 0 12px;
}

nav ul li a {
  color: var(--color-primary);
  padding: 6px;
  font-size: 13px;
  font-weight: 500;
}

.white {
  color: var(--color-white);
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li a:hover,
li a.active {
  color: var(--color-primary);
}

.cursor-crosshair:hover {
  cursor: crosshair;
}

.checkbtn {
  font-size: 18px;
  color: var(--dark-theme);
  font-weight: 300;
  float: right;
  line-height: 60px;
  margin: 0px 30px 0 0;
  cursor: crosshair;
  display: none;
  justify-content: center;
  height: 100%;
  z-index: 30;
}

.checkbtn-icons {
  border-width: 1px;
  padding: 5px;
}

#check {
  display: none;
}

ul {
  padding-left: 0rem;
}

@media (max-width: 952px) {
  .enlace {
    padding-top: 10px;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
    display: inline-flex;
    width: 100%;
  }

  nav ul {
    float: right;
  }

  li a:hover,
  li a.active {
    color: var(--color-primary);
    font-weight: 600;
  }

  .white {
    color: var(--color-primary);
  }

  .white:hover {
    color: var(--color-orange);
  }

  button#dropdown-basic-2 {
    color: var(--color-primary);
  }
}

ul {
  margin-bottom: 0 !important;
}

@media (max-width: 1062px) {

  /* 858px */
  .checkbtn {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--light-theme);
    top: 50px;
    left: -100%;
    transition: all .5s;
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }


  nav ul li {
    padding-left: 20px;
    border-bottom-width: 0.5px
  }

  nav ul li a {
    font-size: 12px;
    display: inline-flex;
    width: 100%;
  }

  li a:hover,
  li a.active {
    background: none;
    color: #1d50dd;
  }

  #check:checked~ul {
    left: 0;
  }

  .white {
    color: var(--color-primary);
  }

  .white:hover {
    color: var(--color-orange);
  }

  button#dropdown-basic-2 {
    color: var(--color-primary);
  }
}